MLFLOW__PORT=5000
MLFLOW__LISTEN=0.0.0.0
MLFLOW__BACKEND_STORE_URI=postgresql://mlflow:mlflow@db:5432/mlflow
MLFLOW__ARTIFACTS_ROOT_URI=/data/artifacts
MLFLOW__SERVER_EXTRA_ARGS=
MLFLOW__HTTP_PROTECT_USER=mlflow
MLFLOW__HTTP_PROTECT_PASSWORD=mlflow
POSTGRES_USER=mlflow
POSTGRES_PASSWORD=mlflow
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=mlflow
COMPOSE_PROJECT_NAME=mlflow

# Minio
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio123
AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=minio123
AWS_STORAGE_BUCKET_NAME=mlflow
AWS_S3_ENDPOINT_URL=http://minio:9000/
MINIO_STARTUP_TIMEOUT=30s

